<html>

  <head>
    <title>Privetik, Stefo4ka!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index" />
    <meta name="author" content="Natallia L">
    <meta name="description" content="Site for luchshey best friend." />

    <link rel="canonical" href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
    <link rel="stylesheet" type="text/css" href="/stanem-pages/assets/css/style.css">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">  -->
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js"></script> 
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body>
    <div class="container mx-auto">
      <nav>
        <a href="/stanem-pages" {% if page.url == "/stanem-pages" %}class="current"{% endif %}>
          Home
        </a>
        <a href="/stanem-pages/about.html" {% if page.url == "/stanem-pages/about.html" %}class="current"{% endif %}>
          About
        </a>
        <a href="/stanem-pages/contacts.html" {% if page.url == "/stanem-pages/contacts.html" %}class="current"{% endif %}>
          Contacts
        </a>
      </nav>
      <a href="https://lh3.googleusercontent.com/pw/AIL4fc9xzfwMZbY-wbfZwdIa_O444N2RH8QqP3WXrGaLF0dxsOseuBcDeLWPclWAWEQy6q36gxEjST1ShZt8EAf2fFK1sIWM5fVzrLucy58C1Q6HZ8Y1jRVD"> <img width="342px" height="200px" class="logo mx-auto"  src="https://lh3.googleusercontent.com/pw/AIL4fc9xzfwMZbY-wbfZwdIa_O444N2RH8QqP3WXrGaLF0dxsOseuBcDeLWPclWAWEQy6q36gxEjST1ShZt8EAf2fFK1sIWM5fVzrLucy58C1Q6HZ8Y1jRVD" onclick="window.open(this.src, '_blank');" /> </a>
      <h1>Site for luchshey best friend.</h1>

      <div>
        <p>
            <a href="https://lh3.googleusercontent.com/pw/AIL4fc_ZR54wVWzIooLXX9ps752vZdZokbqXMpIaF8fz3OMokVg5ViNnlaX0b5k7EIioY0fkrAHCriKG81y7gUfQmASEo0_shJ6s4YRebBdZC9Ji3Z2Ev0Mb"> <img width="342px" height="200px" class="logo mx-auto" src="https://lh3.googleusercontent.com/pw/AIL4fc_ZR54wVWzIooLXX9ps752vZdZokbqXMpIaF8fz3OMokVg5ViNnlaX0b5k7EIioY0fkrAHCriKG81y7gUfQmASEo0_shJ6s4YRebBdZC9Ji3Z2Ev0Mb" onclick="window.open(this.src, '_blank');" /> </a>
            <p></p>
            <a href="https://lh3.googleusercontent.com/pw/AIL4fc-OTdlqCn4Kj_eEmhPzHKTJiEPoIxSyfhuhMKLioNkzgfrODyIzgmFWKWp-y3bhjtKE_cj9AHeSC7t7Ay5OgTStYrti3VUxOJLb_G0ltwQDZy_kkrDJ"> <img width="342px" height="200px" class="logo mx-auto" src="https://lh3.googleusercontent.com/pw/AIL4fc-OTdlqCn4Kj_eEmhPzHKTJiEPoIxSyfhuhMKLioNkzgfrODyIzgmFWKWp-y3bhjtKE_cj9AHeSC7t7Ay5OgTStYrti3VUxOJLb_G0ltwQDZy_kkrDJ" onclick="window.open(this.src, '_blank');" /> </a>
            <p></p>
            <a href="https://lh3.googleusercontent.com/pw/AIL4fc9AEJPYVZZGLI4uWQroh9e0K50ehN_I2SA8KXAOO-zQO1wL3NQJFMciLw1Sc5DZkpJQYjwWjAydwJywyuwMBtn8C_eyXbc2kWVnpU0tZ_xbyKfPmsnC"> <img width="342px" height="200px" class="logo mx-auto" src="https://lh3.googleusercontent.com/pw/AIL4fc9AEJPYVZZGLI4uWQroh9e0K50ehN_I2SA8KXAOO-zQO1wL3NQJFMciLw1Sc5DZkpJQYjwWjAydwJywyuwMBtn8C_eyXbc2kWVnpU0tZ_xbyKfPmsnC" onclick="window.open(this.src, '_blank');" /> </a>

        </p>

        <h2>Contact us</h2>

        <p>

          <a href="mailto:kitchen">kitchen.religion</a>.
        </p>


        <h2>Share</h2>

        <div class="share-social-media">
          <a class="github-button" href="https://" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star opentffoundation/manifesto on GitHub">Star</a>
        </div>
        <br>
        <div class="share-social-media">

          <!-- Sharingbutton Twitter -->
          <a class="resp-sharing-button__link"
             href=""
             target="_blank" rel="noopener" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
              <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
                </svg>
              </div>
            </div>
          </a>

        </div>

          </tbody>
        </table>
        </div>
        <p id="currentDate"></p>

        <script>
            let today = new Date();
            let dateString = today.toDateString();
            document.getElementById("currentDate").innerHTML = dateString;
        </script>
      </div>
    </div>
  </body>

</html>