<script lang="javascript">
    function toggleMenu() {
    var x = document.getElementById("myTopnav");
    if (x.className === "stroke topnav") {
      x.className += " responsive";
    } else {
      x.className = "stroke topnav";
    }
  }
</script>
<nav class="stroke topnav" role="navigation" id="myTopnav">
  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>

  {% for item in site.data.navigation %}
  <a href="{{ item.link }}"> {{ item.name }} </a>
  {% endfor %}
</nav>
