<!-- <div class="phone">
  <div class="menu-content">
    <nav class="stroke" role="navigation">
      <div id="menuToggle">
        <input type="checkbox" id="menu-checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}"> {{ item.name }} </a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div> -->
<script lang="javascript">
    function toggleMenu() {
    var x = document.getElementById("myTopnav");
    if (x.className === "stroke topnav") {
      x.className += " responsive";
    } else {
      x.className = "stroke topnav";
    }
  }
</script>
<nav class="stroke topnav" role="navigation" id="myTopnav">
  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>

  {% for item in site.data.navigation %}
  <a href="{{ item.link }}"> {{ item.name }} </a>
  {% endfor %}
</nav>
