@media (prefers-color-scheme: dark) {
  body {
    background: rgb(66, 67, 75);
    color: whitesmoke;
  }

  a {
    color: #a0a3bc;
  }
}

.share-social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.co-signed {
  width: 100%;
}

.co-signed th,
.co-signed td {
  text-align: left;
  padding: 5px;
}

figure {
  margin: 0;
}

figure figcaption,
figure blockquote {
  margin: 1em;
}

figure blockquote {
  border-left: 2px solid #abb3eb;
  padding: 1em;
}

span {
  margin-right: 20px;
}

.count {
  font-weight: bold;
}

.Info {
  overflow-x: auto;
}
.Info::-webkit-scrollbar {
  display: none;
}
