body {
  padding: 0 24px;
  color: #8f8f8f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Roboto";
  text-align: center;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  min-height: 95%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

h1 {
  text-align: left;
  padding: 50px 0 20px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: rgb(19, 18, 21);
  font-size: 40px;
}

.controls {
  text-align: center;
  margin: 0 auto 2rem;
  padding: 24px;
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: left;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 0 0 40px 0;
}

.footer,
.push {
  height: 50px;
}

footer {
  background-color: white;
  line-height: 50px;
  padding: 0 20px;
}
