a {
  color: #6c6c6f;
  font-weight: 500;
  text-decoration: none;
}

a:link {
  color: rgb(47, 53, 47);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(127, 123, 124);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(80, 83, 105);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(75, 75, 89);
  background-color: transparent;
  text-decoration: underline;
}
