a:link {
  color: rgb(159, 155, 158);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(240, 187, 196);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(85, 81, 81);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(243, 243, 169);
  background-color: transparent;
  text-decoration: underline;
}
