<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link href="/stanem-pages/assets/css/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="description" content="{{ page.title }}" />
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/stanem-pages/assets/js/content.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      {% include navigation.html %} {{ content }}
      <p></p>
      <p></p>
    </div>
  </body>
</html>
