<!doctype html>
<html>
  <!-- <head>
    <title>Privetik, Stefo4ka!</title>
    <meta charset="utf-8">
    <link rel="canonical" href="/" />
    <meta name="description" content="Site for luchshey best friend." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="/stanem-pages/assets/css/style.css">
    <script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js"></script>
    <title>{{ page.title }}</title>
  </head> -->

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="canonical" href="/"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>

    <!-- fonts -->
    <link rel='stylesheet' href="https://fonts.creatorcdn.com/apis/css2?family=Inconsolata&family=Lato"/>
    <link href='/stanem-pages/assets/static/theme_api/v1/hosted_fonts.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stanem-pages/assets/static/theme_api/vendor/webtype_fonts.css' media='screen' rel='stylesheet' type='text/css'/>
    <title>Site dlya best friend</title>
    <!-- <link href='/stanem-pages/assets/static/favicons/favicon-16.png' rel='icon' sizes="16x16"/>
    <link href='/stanem-pages/assets/static/favicons/favicon-32.png' rel='icon' sizes="32x32"/>
    <link href='/stanem-pages/assets/static/favicons/favicon-96.png' rel='icon' sizes="96x96"/>
    <link href='/stanem-pages/assets/static/favicons/favicon-192.png' rel='icon' sizes="192x192"/> -->
    <meta content='true' name='protect_images'/>
    <meta name="current_path" content="/">
    <meta name="image_protection_blurb" content="This photo is Copyright @Site dlya best friend-photography. All rights reserved.">
    <meta property="og:site_name" content="Site dlya best friend">
    <meta property="og:title" content="Site dlya best friend">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="https://lh3.googleusercontent.com/pw/AIL4fc9xzfwMZbY-wbfZwdIa_O444N2RH8QqP3WXrGaLF0dxsOseuBcDeLWPclWAWEQy6q36gxEjST1ShZt8EAf2fFK1sIWM5fVzrLucy58C1Q6HZ8Y1jRVD?fjkss=exp=2012556715~hmac=59d20ca4c4594541d804ae9ea56ed3204d81daeb57db03b677f955b82bee9fa3">
    <meta property="og:image:width" content="948">
    <meta property="og:image:height" content="1328">
    <meta property="og:description" content="i on Site dlya best friend">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Site dlya best friend">
    <meta name="twitter:description" content="i on Site dlya best friend">
    <link href='/stanem-pages/assets/static/theme_api/v2/share_panel.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stanem-pages/assets/static/theme_api/v1/protected_images.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stanem-pages/assets/static/theme_api/vendor/font-awesome.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/stanem-pages/assets/static/theme_api/v2/theme_social.css' media='screen' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/stanem-pages/assets/css/style.css" media='screen'>
    <link href='/stanem-pages/assets/static/theme_api/v2/cart.css' media='screen' rel='stylesheet' type='text/css'/>
    <script src="https://bucket1.format-assets.com/theme_versions/4289712/assets/js/lazysizes.min.js" async></script>
    <title>{{ page.title }}</title>

    <!--<link href='/stanem-pages/assets/static/theme_api/v2/client_access/client-634c683b907ed9cdb94cf1f2d346b39f145813827eba5a8eee652ad6bf617dfe.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/fonts/ss-standard-v2/ss-standard.css' media='screen' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/stanem-pages/assets/static/theme_api/v2/client_access/client_modal-8620ecc2b4f7c5729898100d14a7f9a01e7e1edb0a16449ae712f0b9175ee884.css">
    <link href='/stanem-pages/assets/static/theme_api/v2/blog_defaults-79d70c55d366b40da8280df474b120c87e1c1def50e6c75a4c54fc0ec914deeb.css' media='screen' rel='stylesheet' type='text/css'/>
     NOTE: this is what is generated by the theme CSS template 
    <link href='/stanem-pages/assets/static/theme_api/vendor/960_simple-1-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css' media='screen' rel='stylesheet' type='text/css'/>
    [if IE 6]><link rel="stylesheet" type="text/css" href="/stanem-pages/assets/static/theme_api/vendor/960_simple_ie6-1-7bd0efe500ce62bd2c9d7b9669610d234a769aa83e596f861257bf87134a9813.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/stanem-pages/assets/static/theme_api/vendor/960_simple_ie-1-4b0e6d146e160134b5ba6be865d0f121e2063af118352c312cde8ae6b09213bc.css" media="screen" /><![endif]-->
    
    <!--[if lt IE 9]><script src="/stanem-pages/assets/static/theme_api/vendor/html5shiv-3.7.0-d55410eeb0d1e50b9558b594560e362529c60f3d70f808efe63dc16137b0226a.js"></script><![endif]-->
    <!--<link href='/stanem-pages/assets/static/theme_api/v2/blog-4c2f56b5c02abf3c28030799104d31fb1b7cb3fa71cdba247e21223fd78795ca.css' media='screen' rel='stylesheet' type='text/css'/>

    <script src="/stanem-pages/assets/static/theme_api/vendor/jquery-1.11.2.min-cc83565074b3fa7f2283f7f4d56b90ad171ede87008448ed5d2e91c50575bed1.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/scrollDelta-1-b6e8272491eb8c6443315078df2ac0e991ffe130f23a3b1943b7ee57fe861ea0.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/jquery.fitvid-1.1-3c6ad5325f55063e1946e70fdf572de4ee3d6c3013b28e54a8e845486271f154.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/viewport-units-buggyfill-0.5.4-383f4629f959f1b60996126da1eef119c597f3aacaf016bcaa5b80d6c5c90d94.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/picturefill-2.3.1.min-b351b912a652b76543986dab139eebacc8a04aba241ed08a3af58a69e275ef28.js" async></script> -->
    <!-- <script src="/stanem-pages/assets/static/theme_api/vendor/masonry.pkgd-3.3.1.min-974c6fdf2ff5b4166d8eaac1902027292e4fb917035bf9f46b48e0399ffa449e.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/jquery.mousewheel-3.1.13.min-88ade7911def7b6bbd8b192d1bf45c90bfceae231997b90524630605e7acc933.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/jquery.jscrollpane-2.0.22.min-d071de54142230364e0106169d236454bed2d740aa6fdf3b1efd4a0f0c511eef.js"></script>
    <script src="/stanem-pages/assets/static/theme_api/vendor/fastclick-1aa08cb3c7aa70d268d24d59c374c14af7bd08e0af8c85f8e4f60a2651f4bab5.js"></script> -->
    <!-- <script src="https://bucket1.format-assets.com/theme_versions/4289712/assets/js/jquery.flexslider-min.js"></script>
    <script src="https://bucket1.format-assets.com/theme_versions/4289712/assets/js/theme.js"></script> -->
</head>
  <body>
    <div class="container">
    {% include navigation.html %}
      <div>
      {{ content }}
      </div>
    </div>
  </body>
</html>